<h1>Hhjfgjhgkgggggggggggggggggggggggggggggggggkkkkkkkkkkkkkk</h1>
<%= text_field(:person, :name) %>

<input id="person_name" name="person[name]" type="text" value="Henry" />
<%= link_to 'Article list', articles_path %> |
<%= link_to 'Home', root_path %> 


